.invalid-feedback {
  display: none;
}

.is-invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-feedback {
  display: block;
}

.medication-suggestions {
  z-index: 1080;
  max-height: 15rem;
  overflow-y: auto;
}
